body {
	Font-family: 			Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	background-color:		#000;
}

.center {
	text-align: 			center;
}

h1 {
	font-size:				10em;
	margin-bottom:			0px;
	transition-duration: 	1s;
}

h1:hover {
	color:					red;
	text-shadow: 			5px 5px #fff;
}

.grid {
	border-radius:			20px;
	overflow: 				hidden;
	margin:					0px 20px 50px 20px;
	display: 				flex;
    align-items: 			center;
	text-align: 			center;
	display: 				grid;
	grid-template-columns: 	45% 10% 45%;
	background-image: 		linear-gradient(to right, #adadad , #6cadab);
	transition-duration:	2s;
}

.box {
	margin: 				20px;
}

.button {
	border-radius:			20px;
	padding:				10px;
	border: 				none;
	width:					40%;
	color:					#000;
	background-color: 		#FFF;
	transition-duration:	1s;
	font-size:				1.5em;
	margin-bottom:			20px;
}

.button:hover {
	width:					50%;
	color:					#FFF;
	background-color: 		#000;
	letter-spacing:			5px;
}

.middle {
	color: 					#fff;
}

t {
	font-size: 				1.5em;
	color:					#FFF;
	transition-duration: 	1s;
}

t:hover {
	color:					red;
	text-shadow: 			1px 1px #fff;
}


.header {
	text-align:				center;
	font-size:				1em;
	color:					#fff;
	margin-bottom:			50px;
}